<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4"><%= author.fullname %></h1>
        <div class="row">
            <div class="col-md-4">
                <% if (author.avatar) { %>
                    <!-- <img src="https://firebasestorage.googleapis.com/v0/b/musiconlineupload.appspot.com/o/1721880102276_author_datg.jpg?alt=media&token=202e4205-ad41-4711-bd43-928b8e303ed2" alt="<%= author.fullname %>" class="img-fluid rounded"> -->
                    <img src="<%= author.avatar %>" alt="<%= author.fullname %>" class="img-fluid rounded">
                <% } else { %>
                    <div class="bg-secondary text-white text-center d-flex align-items-center justify-content-center" style="width: 100%; height: 300px;">
                        No Image
                    </div>
                <% } %>
            </div>
            <div class="col-md-8">
                <p><strong>Date of Birth:</strong> <%= new Date(author.dateOfBirth).toDateString() %></p>
                <p><strong>Biography:</strong> <%= author.biography %></p>
            </div>
        </div>
        <div class="mt-4">
            <a href="/authors/update/<%= author.id %>" class="btn btn-primary">Edit</a>
            <a href="/authors/delete/<%= author.id %>" class="btn btn-danger">Delete</a>
            <a href="/authors" class="btn btn-success">Author List</a>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
