<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4"><%= title %></h1>
        <ul class="list-group">
            <% authors.forEach(author => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <% if (author.avatar) { %>
                            <img src="<%= author.avatar %>" alt="<%= author.fullname %>" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover; margin-right: 15px;">
                        <% } else { %>
                            <div class="bg-secondary text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 50px; height: 50px; margin-right: 15px;">
                                No Image
                            </div>
                        <% } %>
                        <div>
                            <a href="/authors/<%= author.id %>" class="text-decoration-none text-dark">
                              <h5 class="mb-1"><%= author.fullname %></h5>
                            </a>
                            <small>Date of Birth: <%= new Date(author.dateOfBirth).toDateString() %></small>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
        <div class="mt-4">
            <a href="/authors/create" class="btn btn-success">Create New Author</a>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
