<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4"><%= title %></h1>
        <ul class="list-group">
            <% genres.forEach(genre => { %>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <a href="/genres/<%= genre.id %>" class="text-decoration-none text-dark">
                            <h5 class="mb-1"><%= genre.name %></h5>
                        </a>  
                        <small>Name: <%= genre.name %></small>
                    </div>
                </li>
            <% }); %>
        </ul>
        <div class="mt-4">
            <a href="/genres/create" class="btn btn-success">Create New Genre</a>
        </div>
    </div>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/popper/popper.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
